/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.editorconfig
.env.example
.gitattributes
.gitignore
app/
artisan
bootstrap/app.php
bootstrap/cache/.gitignore
composer.json
composer.lock
config/
database/.gitignore
database/factories/
database/migrations/
database/seeds/
package.json
phpunit.xml
public/
resources/
routes/
server.php
storage/
tests/
webpack.mix.js
yarn.lock
